<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title> GV-BRAND | Simple Social Email </title>
    <meta property="og:title" content="GroupVine & Trivy: Simple Social Email">
    <meta property="og:site_name" content="GrouvVine & Trivy: Simple Social Email">
    <script type="application/ld+json">
      {"headline":"GroupVine Trivy: Simple Social Email","@type":"WebSite","url":"https://docs.groupvine.email/","name":"GroupVine & Trivy","description":"Simple Social Email","@context":"http://schema.org"}
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="icon" type="image/png" href="/assets/img/favicon-gv.ico"> 
    <!-- <link rel="icon" type="image/png" href="/assets/img/favicon-trivy3.png">   -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                 crossorigin="anonymous"></script>

    <script src="/assets/js/gvinit.js"></script>

    <!-- markdown processor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

  </head>
  <body style="padding:20px">

    <div class="loading" style="text-align:center; margin-top:50px; position:absolute; width:100%; display:none">
      <img src="/assets/img/GroupVine_RGB.png" style="margin:0 auto; height:100px"/>
      <h3>... loading documentation</h3>
    </div>

    <div class="wrapper" style="display:none; position:absolute">
      <header>
        <h1>
          <a href="/[LINK-QARGS]"> 
           <img id="gv-logo"    style="margin-left:-25px" src="/assets/img/GroupVine_RGB.png"/>
           <img id="trivy-logo" style="display:none; max-height:200px" src="/assets/img/trivy-by-gv-white.png"/>
          </a>
        </h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <div>
          <div style="margin:20px 0 10px 0; font-size:16px">
            <b style="font-family:Futura; border-bottom:2px solid grey; border-top:2px solid grey">
              SIMPLE SOCIAL EMAIL
            </b>
            <div  style="margin-top:10px; font-size:16px">
              Inform, Empower, Engage
            </div>
          </div>
        </div>


        <div style="margin-top:30px">
          <h4 style="margin-bottom:7px">GV-BRAND service:</h4>
          <select id="docview">
            <option value="free"> Free service </option>
            <option value="sub"> Full subscription service </option>
            <option value="g4s" class="gv"> GroupVine 4 School</option>
          </select>
        </div>

        <div id="adv-checkbox-wrapper" style="margin:10px 0 10px 5px">
          <input type="checkbox" id="adv-checkbox">Show advanced notes<br>
        </div>

        <p style="font-size:14px; margin-top:30px">
          Got questions? Could use some help? Want to say 'Hi'?   
          Contact us anytime at <a href="mailto:support@groupvine.email">
          support@groupvine.email</a> !  
        <p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <!-- <p>Trivy is brought to you by GroupVine<sup>&trade;</sup></a></p> -->
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
